<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-controller="MainController as ctrl">

    <input ng-model="message" ng-keypress="ctrl.send($event, message)">

    <div ng-repeat="message in ctrl.messages track by $index">{{message}}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/services/WebSocketService.js"></script>
</body>
</html>